
<footer class="footer">
</footer>


<!-- build:js /assets/scripts/demo.js -->
<script src="/assets/scripts/demo.js"></script>
<!-- endbuild -->
<!--
&lt;!&ndash;[if lt IE 9]>
<script type="text/javascript" src="/assets/pie/PIE_IE678.js"></script>
<![endif]&ndash;&gt;
&lt;!&ndash;[if IE 9]>
<script type="text/javascript" src="/assets/pie/PIE_IE9.js"></script>
<![endif]&ndash;&gt;

<script>
  $(function() {
    if (window.PIE) {
      $('i.icon-checkbox').each(function() {
        PIE.attach(this);
      });
    }
  });
</script>-->
