
  <div class="sidebar sidebar-default">
    <div class="sidebar-fold" data-toggle="tooltip" data-placement="right"><div class="sidebar-fold-fa"><i class="fa fa-fw fa-bars"></i></div></div>
    <ul class="list-group">
      <li class="open">
        <a class="list-group-item list-group-title" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-caret-down"></i><span class="nav-title"> 组件</span><span class="pull-right config" data-toggle="tooltip" data-placement="right" title="自定义产品与服务"><i class="fa fa-fw fa-cog"></i></span></a>
        <ul class="list-group">
          <li><a href="/demo/button.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-square"></i><span class="nav-title"> Buttons</span></a></li>
          <li><a href="/demo/dropdown.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-list"></i><span class="nav-title"> Dropdown</span></a></li>
          <li><a href="/demo/checkbox.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-check-square"></i><span class="nav-title"> Checkbox</span></a></li>
          <li><a href="/demo/input.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-keyboard-o"></i><span class="nav-title"> Inputs</span></a></li>
          <li><a href="/demo/select.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-list-alt"></i><span class="nav-title"> Select</span></a></li>
          <li><a href="/demo/form.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-list-ol"></i><span class="nav-title"> Form</span></a></li>
          <li><a href="/demo/nav-tabs.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-tags"></i><span class="nav-title"> Nav</span></a></li>
          <li><a href="/demo/breadcrumb.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-navicon"></i><span class="nav-title"> Breadcrumb</span></a></li>
          <li><a href="/demo/label-badge.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-tag"></i><span class="nav-title"> Label&amp;Badge</span></a></li>
          <li><a href="/demo/table.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-table"></i><span class="nav-title"> Table</span></a></li>
          <li><a href="/demo/login.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-user"></i><span class="nav-title"> Login</span></a></li>
        </ul>
      </li>
      <li class="open">
        <a class="list-group-item list-group-title" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-caret-down"></i><span class="nav-title"> 用户中心</span><span class="pull-right config" data-toggle="tooltip" data-placement="right" title="自定义用户中心"><i class="fa fa-fw fa-cog"></i></span></a>
        <ul class="list-group">
          <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-user"></i><span class="nav-title"> 账号管理</span></a></li>
          <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-rmb"></i><span class="nav-title"> 费用中心</span></a></li>
          <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-exchange"></i><span class="nav-title"> 续费管理</span></a></li>
          <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-envelope"></i><span class="nav-title"> 消息中心</span></a></li>
          <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-pencil"></i><span class="nav-title"> 工单管理</span></a></li>
          <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-shield"></i><span class="nav-title"> 备案管理</span></a></li>
        </ul>
      </li>
    </ul>
  </div>
