<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
<meta http-equiv="X-UA-Compatible" content="IE=9" />
<title>{{ site.name }} - {{ page.title }}</title>
<meta name="keywords" content="{{ site.name }},{{ site.keywords }}">
<meta name="description" content="{{ site.name }} - {{ site.description }}">
<meta name="author" content="{{ site.authors }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link type="image/x-icon" href="/favicon.ico" rel="shortcut icon">

<!-- build:css /assets/css/vendor/bootstrap.css -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<!-- endbuild -->

<!-- build:css /assets/css/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" />
<link rel="stylesheet" href="/bower_components/Swiper/dist/css/swiper.css" />
<link rel="stylesheet" href="/bower_components/selectize/dist/css/selectize.css" />
<!-- endbower -->
<!-- endbuild -->

<!-- build:css /assets/css/viewframework.css -->
<link rel="stylesheet" href="/assets/css/viewframework.css">
<link rel="stylesheet" href="/assets/css/login.css">
<link rel="stylesheet" href="/assets/css/demo.css">
<!-- endbuild -->

<!-- IE 使用jQuery1.11.2 -->
<!-- build:js /assets/scripts/vendor/jquery.1.11.2.js -->
<!--[if lte IE 8]>
<script src="/bower_components/jquery.1.11.2/dist/jquery.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- 非IE 使用jQuery2.2.0 -->
<!--[if (gt IE 8)|(!IE)]><!-->
<!-- build:js /assets/scripts/vendor/jquery.js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<!-- endbuild -->
<!--<![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltips and media queries -->
<!-- build:js /assets/scripts/vendor/html5shiv.js -->
<!--[if lt IE 9]>
<script src="/bower_components/html5shiv/dist/html5shiv.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js /assets/scripts/vendor/respond.js -->
<!--[if lt IE 9]>
<script src="/bower_components/respond/dest/respond.src.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js /assets/scripts/vendor/es5-shim.js -->
<!--[if lt IE 9]>
<script src="/bower_components/es5-shim/es5-shim.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js /assets/scripts/vendor/es5-sham.js -->
<!--[if lt IE 9]>
<script src="/bower_components/es5-shim/es5-sham.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js /assets/scripts/vendor/selectivizr.js -->
<!--[if lt IE 9]>
<script src="/bower_components/selectivizr/selectivizr.js"></script>
<![endif]-->
<!-- endbuild -->

<!-- build:js /assets/scripts/vendor/modernizr.js -->
<script src="/bower_components/modernizr/modernizr.js"></script>
<!-- endbuild -->

<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.3&key=31e4676d03443e544d4105195c04f1fa"></script>

<!-- build:js /assets/scripts/vendor.js -->
<!-- bower:js -->
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/Swiper/dist/js/swiper.js"></script>
<script src="/bower_components/selectize.label/dist/js/selectize.label.js"></script>
<script src="/bower_components/sifter/sifter.js"></script>
<script src="/bower_components/microplugin/src/microplugin.js"></script>
<script src="/bower_components/selectize/dist/js/selectize.js"></script>
<script src="/bower_components/tkJSPinyin/src/pinyin_es5.js"></script>
<script src="/bower_components/selectize.city/dist/js/selectize.city.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js /ajax/city.min.js -->
<script src="/ajax/city.min.js"></script>
<!-- endbuild -->

<!-- build:js /ajax/service.min.js -->
<script src="/ajax/service.min.js"></script>
<!-- endbuild -->

