
  <header>
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container-fulid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
            <span class="sr-only">导航</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand active" href="/"><img alt="小马达达" class="navbar-brand-logo" src="/assets/images/logo.png"></a>

          <ul class="nav navbar-nav navbar-left">
            <li class="navbar-text">小马达达客服管理系统</li>
          </ul>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="javascript:void(0);">帮助与文档<span class="sr-only">(current)</span></a></li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">dqm***@163.com <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0);">退出</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </header>
