
  <div class="sidebar sidebar-default sidebar-inverse" dir="rtl">
    <div class="sidebar-wrapper">
      <div class="sidebar-fold" data-toggle="tooltip" data-placement="right"><div class="sidebar-fold-fa"><i class="fa fa-fw fa-bars"></i></div></div>
      <ul class="list-group" dir="ltr">
        <li><a href="/platform/dashboard.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-dashboard"></i><span class="nav-title"> 我的工作台</span></a></li>
        <li class="open">
          <a class="list-group-item list-group-title" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-caret-down"></i><span class="nav-title"> 话务管理</span><span class="pull-right config" data-toggle="tooltip" data-placement="right" title="自定义话务管理"><i class="fa fa-fw fa-cog"></i></span></a>
          <ul class="list-group">
            <li><a href="/platform/callmanage/callin/callin.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-phone-square"></i><span class="nav-title"> 呼入管理</span></a></li>
            <li><a href="/platform/callmanage/shop/list.html" class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-cubes"></i><span class="nav-title"> 商户查询</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-first-order"></i><span class="nav-title"> 客户跟踪</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-cloud-download"></i><span class="nav-title"> 服务查询</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-globe"></i><span class="nav-title"> 呼入记录</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-globe"></i><span class="nav-title"> 年检回访</span></a></li>
          </ul>
        </li>
        <li class="open">
          <a class="list-group-item list-group-title" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-caret-down"></i><span class="nav-title"> 调度管理</span><span class="pull-right config" data-toggle="tooltip" data-placement="right" title="自定义调度管理"><i class="fa fa-fw fa-cog"></i></span></a>
          <ul class="list-group">
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-user"></i><span class="nav-title"> 调度提醒</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-rmb"></i><span class="nav-title"> 调度分配</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-exchange"></i><span class="nav-title"> 调度修改</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-envelope"></i><span class="nav-title"> 救援回访</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-pencil"></i><span class="nav-title"> 回访修改</span></a></li>
          </ul>
        </li>
        <li class="open">
          <a class="list-group-item list-group-title" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-caret-down"></i><span class="nav-title"> 报表和结算</span><span class="pull-right config" data-toggle="tooltip" data-placement="right" title="自定义报表和结算"><i class="fa fa-fw fa-cog"></i></span></a>
          <ul class="list-group">
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-pencil"></i><span class="nav-title"> 呼入报表</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-shield"></i><span class="nav-title"> 服务报表</span></a></li>
          </ul>
        </li>
        <li class="open">
          <a class="list-group-item list-group-title" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-caret-down"></i><span class="nav-title"> 系统管理</span><span class="pull-right config" data-toggle="tooltip" data-placement="right" title="自定义系统管理"><i class="fa fa-fw fa-cog"></i></span></a>
          <ul class="list-group">
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-user"></i><span class="nav-title"> 员工管理</span></a></li>
            <li><a class="list-group-item" data-toggle="tooltip" data-placement="right"><i class="fa fa-fw fa-shield"></i><span class="nav-title"> 权限管理</span></a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
